/* GENERAL */

.grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  grid-column-gap: calc(var(--base-spacing) * 10);
}

.title {
  font-size: 40px;
  margin-bottom: -12px;
}

@media (min-width: 767px) {
  .grid {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 100%;
    grid-column-gap: 10%;
  }
}

@media (min-width: 1200px) {
  .grid {
    height: 450px;
  }
}

@media (min-width: 1430px) {
  .grid {
    height: 500px;
  }
  .title {
    font-size: 70px;
  }
}

/* LEFT SECTION */

.gridItemLeft {
  justify-self: center;
}

.left {
  background: var(--color-background);
  padding: calc(var(--base-spacing) * 3);
  max-width: 300px;
  margin: 0 auto;
}

@media (min-width: 767px) {
  .gridItemLeft {
    justify-self: start;
    align-self: start;
  }

  .left {
    padding: calc(var(--base-spacing) * 10);
    max-width: 900px;
    background-color: white;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 75px;
  }
}

@media (min-width: 1200px) {
  .left {
    padding-left: calc(var(--base-spacing) * 15);
  }
}

@media (min-width: 1430px) {
  .left {
    padding-left: calc(var(--base-spacing) * 20);
  }
  .titleLeft {
    font-size: 70px;
  }
}

/* RIGHT SECTION */

.gridItemRight {
  justify-self: center;
}

.right {
  max-width: 300px;
  margin: 0 auto;
  padding: calc(var(--base-spacing) * 3);
}

.sponsorGrid {
  display: grid;
  height: 120px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-gap: calc(var(--base-spacing) * 3);
  align-items: center;
}

@media (min-width: 767px) {
  .gridItemRight {
    justify-self: end;
    align-self: end;
  }

  .right {
    padding-right: calc(var(--base-spacing) * 10);
    max-width: 400px;
  }

  .sponsorGrid {
    height: 200px;
  }
}

@media (min-width: 1200px) {
  .right {
    padding-right: calc(var(--base-spacing) * 15);
    max-width: 450px;
  }
  .sponsorGrid {
    height: 150px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
  }
}

@media (min-width: 1430px) {
  .right {
    padding-right: calc(var(--base-spacing) * 20);
    max-width: 510px;
  }
}
