.figure {
  position: relative;
}

.svg {
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linejoin: round;
  stroke-miterlimit: 2;
}

.metal {
  fill: rgb(235, 235, 235);
  fill-rule: nonzero;
}

.plastic {
  fill: rgb(125, 126, 127);
  fill-rule: nonzero;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 12px;
  width: 100%;
  height: 100%;
}

.content > * {
  border-radius: 12px;
  position: relative;
}
