.wrap {
  min-height: 100vh;
  background: var(--color-background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content,
.visual {
}

@media (min-width: var(--media-size-xl)) {
  .title {
    font-size: 80px;
  }
}
