.container {
  max-width: 300px;
  margin: 0 auto;
  padding: 0 calc(var(--base-spacing) * 3);
  position: relative;
  margin-top: calc(var(--base-spacing) * 10);
}

@media (min-width: 767px) {
  .container {
    max-width: 1200px;
    padding: 0 calc(var(--base-spacing) * 20);
    margin-top: 100px;
  }
}
