.icon {
}

.link {
  margin: calc(var(--base-spacing) * 2);
  cursor: pointer;
}

.link:first-child {
  margin-left: 0;
}

.sozial-links {
  display: block;
  text-align: center;
  padding: 20px;
}
