.icon {
  font-size: var(--social-icon-size, 32px);
}

.link {
  margin: calc(var(--base-spacing) * 2);
  cursor: pointer;
}

.link:first-child {
  margin-left: 0;
}

.sozial-links {
  display: block;
  padding: 20px;
  padding-left: 0;
}
