.width {
  min-width: 400px;
}

.wrap {
  background: var(--ion-background-color);
  display: flex;
  flex-direction: column;
}
.phone {
  max-width: 300px;
  margin: 0 auto;
  order: 2;
}
.content {
  position: relative;
  max-width: 300px;
  margin: 0 auto;
}
.contentText {
  position: relative;
  z-index: 10;
  margin-bottom: calc(var(--base-spacing) * 10);
}
.contentDeco {
  background: white;
  position: absolute;
  top: calc(var(--base-spacing) * 3);
  width: 200%;
  left: -100%;
  top: -10px;
  height: calc(400px + 30vh);
  border-radius: calc(var(--base-spacing) * 5);
}

.phoneSlider {
  align-items: center;
  justify-content: center;
}
.phoneSlide {
  width: 100% !important;
}
.title {
  font-size: 40px;
  margin-bottom: -12px;
}

.description {
  max-width: 300px;
  margin: 0 auto;
  padding: calc(var(--base-spacing) * 10);
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: -30px;
  order: 1;
}

.icon-left,
.icon-right {
  cursor: pointer;
  transform: scale(2);
}

.icon-left {
  float: left;
}

.icon-right {
  float: right;
}

.slider-control {
  width: calc(100% + 100px);
  position: relative;
  top: 30vh;
  left: -50px;
}

.alignCenter {
  display: inline-block;
  text-align: center;
}

.halfSpace {
  width: 48%;
  display: inline-block;
  text-align: center;
  padding-right: 2%;
}

.phone > figure {
  height: 66.6vh;
  max-height: 440px;
}

.description ion-slides {
  height: 33.3vh;
  max-height: 280px;
}

.halfSpace img {
  max-width: unset;
  height: 41px;
}

@media (min-height: 660px) {
  .slider-control {
    width: calc(100% + 100px);
    position: relative;
    top: 204px;
    left: -50px;
  }

}

@media (min-width: 767px) {
  .content {
    max-width: 600px;
    margin-bottom: calc(var(--base-spacing) * 15);
  }
  .contentDeco {
    top: -30px;
    height: 300px;
  }
  .description,
  .phone {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    margin-top: -50px;
    order: 0;
  }
  .slider-control {
    width: 100%;
    position: static;
  }
  .wrap {
    display: block;
  }
  .phone > figure {
    height: auto;
    max-height: unset;
  }

  .halfSpace img {
    max-width: 100%;
    height: auto;
  }

}

@media (min-width: 1023px) {
  .wrap {
    display: grid;
    padding: calc(var(--base-spacing) * 5) calc(var(--base-spacing) * 15);
    grid-template-columns: 1.5fr 1.5fr 0.8fr;
    column-gap: calc(var(--base-spacing) * 5);
    background: var(--ion-background-color);
    align-items: center;
  }
  .content {
    margin: 0;
  }
  .contentDeco {
    height: 100%;
  }
  .phone {
    max-width: 100%;
  }
  .description,
  .phone {
    padding: 0;
    display: block;
    width: 100%;
    margin: 0px;
  }
}

@media (min-width: 1023px) {
  .wrap {
    padding: calc(var(--base-spacing) * 5) calc(var(--base-spacing) * 15);
    grid-template-columns: 1.5fr 1fr 1fr;
  }
}
