.width {
  min-width: 400px;
}

.wrap {
  --deco-circle-radius: 340px;
  background: var(--ion-background-color);
  display: flex;
  flex-direction: column;
  position: relative;
}
.phone {
  max-width: 300px;
  margin: 0 auto;
  order: 2;
}

.phone > figure > svg {
  visibility: hidden;
}

.content {
  position: relative;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: -145px;
}
.contentText {
  position: relative;
  z-index: 10;
  /* margin-bottom: calc(var(--base-spacing) * 10); */
}
.contentDeco {
  display: none;
  background: white;
  position: absolute;
  top: calc(var(--base-spacing) * 3);
  width: 200%;
  left: -100%;
  top: -10px;
  height: calc(400px + 30vh);
  border-radius: calc(var(--base-spacing) * 5);
}

.phoneSlider {
  align-items: center;
  justify-content: center;
}
.phoneSlide {
  width: 100% !important;
}
.title {
  font-size: 40px;
  margin-bottom: -12px;
  text-align: left;
}

.body {
  text-align: left;
}

div[class~="swiper-pagination"] span {
  width: 12px;
  height: 12px;
}

.description {
  max-width: 300px;
  margin: 0 auto;
  /* padding: calc(var(--base-spacing) * 10); */
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: -30px;
  order: 1;
}

.icon-left,
.icon-right {
  cursor: pointer;
  transform: scale(2);
}

.icon-left {
  float: left;
}

.icon-right {
  float: right;
}

.slider-control {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.alignCenter {
  /* display: inline-block; */
  display: none;
  text-align: center;
}

.halfSpace {
  width: 48%;
  display: inline-block;
  text-align: center;
  padding-right: 2%;
}

.phone > figure {
  height: 66.6vh;
  max-height: 440px;
}

.description ion-slides {
  /* height: 33.3vh; */
  /* max-height: 280px; */
}

.halfSpace img {
  max-width: unset;
  height: 41px;
}

/* @media (min-height: 660px) {
  .slider-control {
    position: relative;
    top: 204px;
    left: -50px;
  }

} */

.visualDeco {
  position: absolute;
  background-color: var(--ion-color-secondary);
  z-index: 0;
  display: none;
}

.visualDeco.circle {
  border-radius: 50%;
  width: var(--deco-circle-radius, 120px);
  height: var(--deco-circle-radius, 120px);
  left: calc(50% - var(--deco-circle-radius,120px)/2);
  top: calc(var(--deco-circle-radius,120px)/-3);
}

.visualDeco.decoBox {
  border-radius: 0 20px 20px 0;
  width: 38vw;
  height: 500px;
  background-color: white;
}
.screenshots {
  display: none;
}
.screenContainer {
  width:100%;
}

.screenContainer img.screen {
  height: auto;
  max-height: inherit;
  margin-top: 15px;
  margin-left: 3%;
}

@media (min-width: 767px) {
  .content {
    max-width: 600px;
    margin-bottom: calc(var(--base-spacing) * 15);
  }
  .contentDeco {
    top: -30px;
    height: 300px;
  }
  .description,
  .phone {
    display: block;
    width: 100%;
    margin-top: -150px;
    order: 0;
  }
  .slider-control {
    width: 100%;
    position: static;
  }
  .wrap {
    display: block;
  }
  .phone > figure {
    height: auto;
    max-height: unset;
  }

  .halfSpace img {
    max-width: 100%;
    height: auto;
  }
  .slider-control {
    transform: translateY(-20px);
  }
}

@media (min-width: 1023px) {
  .screenshots {
    display: inherit;
  }
  .wrap {
    display: grid;
    padding: calc(var(--base-spacing) * 5) calc(var(--base-spacing) * 15);
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: calc(var(--base-spacing) * 5);
    background: var(--ion-background-color);
    align-items: center;
    margin-top: 60px;
  }
  .content {
    margin: 0;
    margin-left: -5%;
  }
  .contentDeco {
    height: 100%;
  }
  .phone {
    max-width: 100%;
  }
  .description,
  .phone {
    padding: 0;
    display: block;
    width: 100%;
    margin-top: -100px;
  }
  div[class~="swiper-pagination"] span {
    display: none;
  }
  .visualDeco {
    display: block;
  }
  .slider-control {
    transform: translateY(-440px);
  }
}
@media (min-width: 1500px) {
  .wrap {
    grid-template-columns: 1.25fr 1fr 1.25fr;
    margin-top: 0;
  }
  .circle {
    --deco-circle-radius: 470px;
  }
  .description {
    max-width: 450px;
  }
  .description,
  .phone {
    padding: 0;
    display: block;
    width: 100%;
    margin-top: -150px;
  }
}
