.width {
  min-width: 400px;
}

.wrap {
  background: var(--ion-background-color);
}
.phone {
  max-width: 300px;
  margin: 0 auto;
}
.content {
  position: relative;
  max-width: 300px;
  margin: 0 auto;
}
.contentText {
  position: relative;
  z-index: 10;
  margin-bottom: calc(var(--base-spacing) * 10);
}
.contentDeco {
  background: white;
  position: absolute;
  top: calc(var(--base-spacing) * 3);
  width: 200%;
  left: -100%;
  top: -10px;
  height: 400px;
  border-radius: calc(var(--base-spacing) * 5);
}

.phoneSlider {
  align-items: center;
  justify-content: center;
}
.phoneSlide {
  width: 100% !important;
}
.title {
  font-size: 40px;
  margin-bottom: -12px;
}

.description {
  max-width: 300px;
  margin: 0 auto;
  padding: calc(var(--base-spacing) * 10);
}

.icon-left,
.icon-right {
  cursor: pointer;
  transform: scale(2);
}

.icon-left {
  float: left;
}

.icon-right {
  float: right;
}

.slider-control {
  width: 100%;
}

@media (min-width: 767px) {
  .content {
    max-width: 600px;
    margin-bottom: calc(var(--base-spacing) * 15);
  }
  .contentDeco {
    top: -30px;
    height: 300px;
  }
  .description,
  .phone {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    margin-top: -50px;
  }
}

@media (min-width: 1023px) {
  .wrap {
    display: grid;
    padding: calc(var(--base-spacing) * 5) calc(var(--base-spacing) * 15);
    grid-template-columns: 1.5fr 1.5fr 0.8fr;
    column-gap: calc(var(--base-spacing) * 5);
    background: var(--ion-background-color);
    align-items: center;
  }
  .content {
    margin: 0;
  }
  .contentDeco {
    height: 100%;
  }
  .phone {
    max-width: 100%;
  }
  .description,
  .phone {
    padding: 0;
    display: block;
    width: 100%;
    margin: 0px;
  }
}

@media (min-width: 1023px) {
  .wrap {
    padding: calc(var(--base-spacing) * 5) calc(var(--base-spacing) * 15);
    grid-template-columns: 1.5fr 1fr 1fr;
  }
}
