.wrap {
  position: relative;
  background: var(--color-background);
  justify-content: center;
  align-items: center;
  padding: calc(var(--base-spacing) * 3);
  max-width: 300px;
  margin: 0 auto;
}

.visual,
.content {
  position: relative;
  max-width: 300px;
  margin: 0 auto;
}

.content {
  margin-bottom: calc(var(--base-spacing) * 6);
}

.title {
  font-size: 40px;
  margin-bottom: -12px;
}
.visualDeco {
  position: absolute;
  top: calc(var(--base-spacing) * 4 * -1);
  background: var(--color-secondary);
  width: 400px;
  height: 300px;
  left: -50px;
  border-radius: calc(var(--base-spacing) * 5);
}

@media (min-width: 767px) {
  .wrap {
    display: grid;
    grid-template-columns: 0.9fr 1.1fr;
    column-gap: calc(var(--base-spacing) * 5);
    padding: calc(var(--base-spacing) * 10);
    padding-right: 0;
    max-width: 1800px;
  }
  .visual {
    max-width: 100%;
    padding-left: calc(var(--base-spacing) * 10);
  }
  .visualDeco {
    width: 700px;
  }
  .content {
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .wrap {
    display: grid;
    padding: calc(var(--base-spacing) * 15);
    padding-right: 0;
  }
  .visualDeco {
    top: 50px;
    width: 1000px;
    height: 360px;
  }
}

@media (min-width: 1430px) {
  .wrap {
    display: grid;
    padding: calc(var(--base-spacing) * 20);
    padding-right: 0;
  }

  .title {
    font-size: 70px;
  }
}
