.footer {
  background-color: var(--ion-color-primary);
  margin-top: calc(var(--base-spacing) * 10);
}

.grid {
  padding: calc(var(--base-spacing) * 3);
  max-width: 300px;
  height: 200px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 100%;
  overflow: hidden;
}

.image {
  display: none;
}

.text {
}

.social {
  align-self: center;
  justify-self: start;
}

.list {
  list-style-type: none;
  padding: 0;
}

.listItem {
  display: inline;
}

.listItem {
  margin-right: calc(var(--base-spacing) * 1);
}

.listItem:last-child {
  margin-right: 0;
}

.listLink {
  color: var(--color-foreground);
}

@media (min-width: 767px) {
  .grid {
    padding-left: calc(var(--base-spacing) * 10);
    padding-right: calc(var(--base-spacing) * 10);
    max-width: unset;
    height: 200px;
    grid-template-rows: 100%;
    grid-template-columns: 30% 50% 20%;
  }

  .headline {
    margin-top: 50px;
  }

  .image {
    display: block;
  }

  .social {
    align-self: end;
    justify-self: end;
  }
}

@media (min-width: 1200px) {
  .grid {
    height: 270px;
  }

  .headline {
    margin-top: 110px;
  }
}
