.footer {
  background-color: var(--ion-color-primary);
  margin-top: calc(var(--base-spacing) * 10);
  overflow: hidden;
  height: 490px;
}

.grid {
  padding: calc(var(--base-spacing) * 3);
  max-width: 300px;
  height: 420px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 100%;
  overflow: hidden;
  text-align: center;
}

.grid > *:first-child() {
  margin-bottom: 20px;
}

.grid > div:nth-child(2) {
  margin-bottom: 60px;
}

.image {
  display: none;
}

.social {
  align-self: center;
  justify-self: start;
  width: 100%;
}

.list {
  list-style-type: none;
  padding: 0;
}

.listItem {
  display: inline;
}

.listItem {
  margin-right: calc(var(--base-spacing) * 1);
}

.listItem:last-child {
  margin-right: 0;
}

.listLink {
  color: var(--color-foreground);
}

.circle {
  display: none;
}

.alignCenter {
  display: inline-block;
  text-align: center;
}

.halfSpace {
  width: auto;
  display: inline-block;
  text-align: center;
  padding-right: 2%;
}

.decoCircle {
  --deco-circle-size: 400px;
  display: none;
  border-radius: 50%;
  background-color: var(--ion-color-secondary);
  width: var(--deco-circle-size);
  height: var(--deco-circle-size);
  position: absolute;
  margin-top: -80px;
  left: 110px;
}

@media (min-width: 767px) {

  .footer {
    height: auto;
  }

  .grid {
    padding-left: calc(var(--base-spacing) * 10);
    padding-right: calc(var(--base-spacing) * 10);
    max-width: unset;
    height: 200px;
    grid-template-rows: 100%;
    grid-template-columns: 30% 45% 25%;
  }

  .headline {
    margin-top: 50px;
  }

  .image {
    display: block;
  }

  .social {
    align-self: end;
    justify-self: end;
  }

  .circle {
    display: block;
    position: absolute;
    right: -120px;
    top: -120px;
    background: var(--ion-color-secondary);
    height: 240px;
    width: 240px;
    border-radius: 120px;
  }

  .logo {
    height: 40px;
    position: relative;
    top: 150px;
    right: -40px;
  }
}

@media (min-width: 1200px) {
  .grid {
    height: 270px;
  }

  .headline {
    margin-top: 70px;
  }

  .decoCircle {
    display: block;
  }
}
