.wrap {
  position: relative;
  width: 100%;
}

.iconBack,
.iconForward {
  position: absolute;
  top: calc(50% - 10px);
  transform: scale(2);
  z-index: 1000;
}

.iconBack {
  left: 40px;
}
.iconForward {
  right: 40px;
}

.slider {
  align-items: center; /* add this will all relevant prefixes */
}

.slide {
  opacity: 0.3;
  transition: opacity 0.2s;
  width: 100% !important;
  align-self: center;
}

.slideActive {
  opacity: 1;
}
