.wrap {
  position: relative;
  width: 100%;
}

.iconLeft,
.iconRight {
  position: absolute;
  top: calc(50% - 10px);
  transform: scale(2);
  z-index: 1000;
  cursor: pointer;
}

.iconLeft {
  left: -15px;
}
.iconRight {
  right: -15px;
}

.slider {
  align-items: center; /* add this will all relevant prefixes */
}

.slide {
  transition: opacity 0.2s;
  width: 100% !important;
  align-self: center;
}

.slideActive {
  opacity: 1;
}

@media (min-width: 767px) {
  .iconLeft {
    left: 40px;
  }
  .iconRight {
    right: 40px;
  }
}
